body{
    margin-right: auto;
    margin-left: auto;
    padding-left: 30px;
    padding-right: 30px;
    min-width: 300px;
    max-width: 1790px
}

h2{
    font-family: "Noto Sans", sans-serif;
}

p{
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li{
    display: inline;
}

a{
    text-decoration:none;
    color:black; 
}

#top{
    overflow: auto; 
    border-bottom: 1px solid #CBCBCB; 
    width:100%;
}

#navDate{
    float: left; 
    margin-top: 25px;
}

#login{
    float: right; 
    margin-top: 25px; 
    margin-bottom: 15px
}

#login li{
    margin-left: 25px
}

#login a{
    color: #0080ff; 
}

#login a:hover{
    color: black; 
}

#logo{ 
    font-size: 60px; 
}

#down{
    overflow: auto;
    margin-top: 30px; 
    margin-bottom: 20px; 
    border-top: 1px solid #efefef; 
    border-bottom: 3px solid black; 
    width: 100%
}

.categories{
    float: left;
}

#down .categories ul{ 
    margin-left: 30px;
    padding-top: 25px;
    padding-bottom: 30px;
}

#down .categories ul li{ 
    margin-right: 30px;
}

#down .categories ul li a{
    font-size: large; 
}

#down .categories ul li a:hover{
    opacity: 0.7; 
}

#down aside{
    padding:0;
}

#down .follow{
    width: 30%;
    background-color: white;
    padding-top: 10px;
    padding-right: 30px;
    margin: 0;
}

.h1{
    font-size: 40px;
    float: left;
    padding-top: 15px;

}

.main{
    overflow: auto;
    clear: both;
    float: left;
    width: 100%;
    min-width: 200px; 
    max-width: 64%;
    min-height: 800px;
}

#article{
    margin-top: 55px;
    margin-bottom: 40px;
}

#divImg{
    position: relative;
    width: 160px;
    height: 120px;
    margin-right: 20px; 
    margin-bottom: 50px; 
    background-color: blue;
    float: left;
}

.imgCateg{
    position: absolute; 
    top:10px;
    left: 10px; 
    background-color: yellow; 
    padding-left: 5px;
    padding-right:5px;
}

#edit{
    float: left;
    margin-top: 40px;
}

#delete{
    float: left; 
    margin-top: 40px;
    margin-bottom: 40px; 
    margin-left: 10px;
}

#hr2{
    clear: both; 
    border-top: 1px solid #efefef;
}

aside{
    float: right; 
    width: 27%; 
    min-width: 271px;
    padding: 2%;
    padding-bottom: 2.7%;
}

aside span{
    font-size: 30px;    
}

aside input[type=submit]{
    float: right;
}

aside input[type=email]{
    
    width: 100%;
    border: 1px solid #d2d1d1;
    border-radius: 0;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    width: -webkit-calc(100% - 155px);
    width: -moz-calc(100% - 155px);
    width: calc(100% - 155px);
}

aside input[type=text]{
    width: 100%;
    border: 1px solid #d2d1d1;
    border-radius: 0;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
    width: -webkit-calc(100% - 130px);
    width: -moz-calc(100% - 130px);
    width: calc(100% - 130px);
}

#search{
    color:white;
    background-color: #000;
    margin-bottom: 55px;
    margin-left: 3.5%;
}



#search input{
    margin-top:20px;
}

.follow{
    background-color: #efefef;
    margin-left: 3.5%;
    padding-bottom: 0
}

.follow hr{
    margin-top: 30px;
    margin-bottom: 0;
    border-top: 1px dotted black;
    border-bottom: 0;

}

.subscription{
    background-color: #efefef;
    margin-bottom: 55px;
}

.fa {
  height: 20px;
  width: 20px;
  background-color: #000;
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  padding: 15px;
  color: white;
}

.fa:hover {
    opacity: 0.7;
}

.follow ul{
    list-style-type: none; 
    padding: 0;
    margin: 0
}

.follow ul li{
    display: inline; 
}

article{
    margin-top: 55px
}

article div{
    float: left;
}

footer{
    clear: both; 
    border-top: 3px 
    solid black; 
    padding-top: 55px;
}

footer .subscription{
    background-color: white
}

footer input[type=email]{
    border: 1px solid #CBCBCB;
}

#tags{
    width: 32%;
    margin-left: 2%;
    margin-bottom: 2%;
    float: left;
    
}

.tag{
    float: left; 
    background-color: #eaeaea; 
    padding: 20px; 
    margin-top: 5px;
    margin-left: 8px;
    font-size: small;
}

footer .categories{
    min-width: 100px;
    width: 10%;
    padding-left: 0;
    float: left
}

footer .categories li{
    margin-bottom: 12px;
    font-size: small;
    display: block;
}

footer .categories a{
    color:#0080ff;
    
}

footer .tag:hover{
    opacity: 0.7;
    
}

footer #logo{
    margin-bottom: 55px
}

footer aside{
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 0;
    padding-top: 0;
}

footer .follow{
    min-width: 271px;
    background-color: white;
}


#networks{
    float: right;
    background-color: white
}

#networks .fa {
  background-color: white;
  font-size: 20px;
  text-decoration: none;
  color: #a4a4a4
}

.show{
    margin: auto; width: 95%;
}

.show a{
    color: #0080ff;
}

.show h2{
    font-size: 50px
}

.categoryTag{
    color: black;
    background-color: yellow;
    padding-right:5px;
    padding-left: 5px;
}

#showImg{
    margin: auto; 
    width: 100%; 
    max-height: 100%; 
}

.replay{
    padding-top: 55px;
    padding-bottom: 20px;
}

.replay p{
    margin-top: 55px;
}

.replay span{
    font-size: 30px;
}

.textarea{
    width: 90%; 
    min-height: 50px;
    height: 350px;
    max-height: 550px;
    resize: vertical;
    background: #efefef;
    border-color: #d2d1d1;
    font-family: "Noto Serif";
    font-style: italic;
    font-size: 14px;
    padding: 7px 18px;
    line-height: 34px;
    margin-bottom: 55px;
}

.btnSubm{
    color:black;
    background-color: #fff602;
    border-color: #fff602;
    padding: 13px 28px;
    transition: .3s ease-out;
    font-family: "Noto Sans";
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 16px;
    line-height: 1.375;
    border-radius: 0;
}

.btnSubm:hover{
    background-color: grey;
    color: white;
}

#index{
    width: 100%;
    overflow: auto;
    padding-top: 30px;
}

#bigRight{
    width: 49.7%; 
    float: left; 
    position: relative;
}

#bigTitle{
    position: absolute;
    padding-right: 5px ;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: 30px;
    color: white;
    bottom: 20px;
    left: 30px
}

#bigLeft{
    float: right; 
    width: 50.3%;
}

.smallLeft{
    padding-left: 1%; 
    width: 49.0%; 
    float: right; 
    position: relative;
}

#smallTitle{
    position: absolute;
    padding-right: 5px ;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    bottom: 10px;
    left: 15px;
}

.regist{
    
    width: 90%;
    margin-top: 3%;
    margin-bottom: 3%;
    background: #efefef;
    border-color: #d2d1d1;
    color: #000;
    font-size: 14px;
    padding: 7px 18px;
    line-height: 34px;
    font-style: italic;
    border: 1px solid #d2d1d1;
    border-radius: 0;
    height: 35px;
    font-size: large;

}

select{
    padding: 7px 18px;
    margin-top: 15%;
    margin-bottom: 3%;
    width: 200px;
    height: 50px;
    font-style: italic;
    background: #efefef;
    border-color: #d2d1d1;
    border: 1px solid #d2d1d1;
    border-radius: 0;
    font-size: large;
}


@media screen and (max-width: 1024px) {
    header{
        text-align: center;
    }
    .categories{
        float: none;
        text-align: center;
        margin: auto;

    }

    #down .follow{
        min-width: 271px;
        padding-right: 0;
          float: none;
        margin: auto;
    }

    #index{
        width: 90%;
        margin-left: 5%;
    }

    #bigRight{
          width:100%;
    }

    #bigLeft{
          width:100%;
    }

    .smallLeft:nth-child(even){
          padding-left: 0;
          font-size: 14px;
    }

    .smallLeft{
        width: 49.5%;   
    }
    
    .h1{
        clear:left;
        text-align: center;
        width: 100%;
    }

    .main{
          max-width: 90%;
          margin-left: 5%;
          min-height: 400px;
    }

   /* #search{
          float: none;
          overflow: auto;
          width: 50%;
          margin:0;
          margin-left:23%;
          margin-right: 23%;
    }*/

    #search{
        margin-left: 0;
        margin-top: 55px;
    }

    aside{
        text-align: center;
          margin-right: 20.5%;
        width: 55%;
    }

    .follow{
          margin-left: 0;
    }

    .subscription{
      
    }

  aside:nth-of-type(4){
      float: left;
      min-width: 60%;
      width: 100%;
  }

  aside article{
      max-width: 49%;
      padding-right: 2%;
      float: left;
      text-align: left;
  }

  aside article:nth-of-type(2){
      padding-right: 0;
  }

  footer .subscription{

  }

  footer #tags{
      float: right;
      margin: 0;
      margin-bottom: 20px;
  }

  footer .categories{
      width: 30%;
  }

}

@media screen and (max-width: 480px) {

    #bigTitle{
        font-size:16px;
    }

    .smallLeft{
        width: 100%;
    }

    #article h2{
        float: left;
        width: 100%;
    }

    #article p{
        float: left;
        width: 100%;
    }

    #divImg{
        margin-bottom: 10px;
    }

    aside{
        float: left;
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }

    aside article{
        max-width: 100%;
    }

    footer .categories{
        float: none;
        margin: 0 auto;
    }

    footer #tags{
        overflow: hidden;
        float: none;
        margin: 0 auto;
        margin-top: 55px;
        margin-bottom:  55px;
    }

    footer #networks{
        float: none;
        margin: 0 auto;
    }

    footer {
        text-align: center;
    }
}









